<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.gdpu.mybatisdemo.dao.CardMapper">
    <insert id="addCard" parameterType="card">
        insert into card values (#{id},#{number},#{ownerid})
    </insert>

    <select id="queryCardById" resultType="card">
        select * from card where id=#{id}
    </select>
    <delete id="deleteCard" >
        delete from card where id=#{id}
    </delete>
</mapper>
