<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.gdpu.mybatisdemo.dao.ProductMapper">
    <select id="queryProductWithOrders" resultMap="queryProductWithOrders">
        select p.*,o.id oid,o.number
        from tx_product p,tx_order o,tx_op op
        where op.order_id=o.id and op.product_id=p.id
        and p.id=#{id}
    </select>
    <resultMap id="queryProductWithOrders" type="product">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="price" column="price"/>
        <collection property="orders" ofType="order">
            <id property="id" column="oid"/>
            <result property="number" column="number"/>
        </collection>
    </resultMap>
</mapper>
